*, *::before, *::after {
  box-sizing: border-box;
}

html {
  --blue: #007acc;
  --burgundy: #99002b;
  --red: #e02d00;
  --black: #000;
  --orange: #ff8100;
  --main: #ffdc00;
  --gutter: 1rem;
  --gutter-half: 0.5rem;
}

body {
  min-height: 100vh;
  /* max-width: 1200px; */
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style: none;
  text_decotation: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.6;
  color: #222c2a;
  background-color: #efefef;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 900;
  margin-top: 0;
  line-height: 1.2;
}

p {
  color: #343a40;
  font-size: 1.3rem;
  margin: 10px 0;
  line-height: 1.5;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.intro_headline {
  font-size: 3rem;
  font-weight
}

.nav {
  width: 100%;
}

.logo {
  margin-right: 1em;
  display:flex;
  justify-content: center;
}

header {
  background: linear-gradient(#ff8100, #ffdc00);
  padding: 1em 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

button {
  margin-left: 2em;  
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #072A2D;
  color: white;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
} 

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
  display:flex;
  justify-content:center ;
} 
 
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
} 

.nav__item {
  margin-top: .75em;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}
 
.team-picture {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.news {
  display:flex;
  justify-content:center;
}

footer {
  background: linear-gradient(#ff8100, #ffdc00);
  padding: 1.25em 0.65em;
}

footer a {
  margin: 0 0.65em;
}

footer a:hover {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}
/* new footer*/
.footer .inner_footer {
  width: 90%;
}

.inner_footer .logo_container,
.inner_footer .inner_third{
  width: 100%;
  margin-bottom: 30px;
}
.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 2.4em 0;
  
} 
.inner_footer{
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: 90%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.links ul{
  text-decoration: none;
  list-style: none 
}

 .links .fab{
   color: var(--blue);
 }
.inner_footer .logo_container {
  height: 100%;
  display: block;
}
.inner_footer .logo_container img {
  width: 100px;
  heigth: auto;
} 
 
.inner_footer .footer_third { 
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child {
  margin-right: 0;
} 
/* new footer*/

/* Team section */
.column{
  margin-top: 4em;
}

.icon {
  stroke: #ff8100;
  width: 24px;
  height: 24px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 2em;
}

.card img {
  border-radius: 12px;
} 

@media (min-width: 800px) {
  
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .nav-toggle {
      display: none;
  }

  .nav {
      visibility: visible;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;
      position: relative;
  }

  .nav__list {
      margin: 0;
      padding: 0;
      list-style: none
      display: flex;
  }

  .nav__list--primary {
    margin: 0 auto;
  }

  .nav__item {
    margin: 0 0 0 1.5em;
  }

  .nav__item + .nav__item {
    margin-left: 1em;
  }

  .nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  }

  .nav__link:hover {
    opacity: 0.75;
  }

  .navbar {
    min-height: 4.5em;
    padding: 0 2em;
  }

  .navbar ul {
    display: flex;
  }

  .navbar a {
    padding: 0.5em;
    margin: 0 0.6em;
  } 

  .navbar a:hover {
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
  }

  .logo {
    margin-right: 1em;
  }

  .row {
      display: flex;
      justify-content: center;
  }
  
  .main-content {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 3.75em;
  }  

  .container {
    margin: 0 auto;
  }
  
  .column {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
    margin: 4em;
  }

  .footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 2.4em 0;
    box-sizing: border-box;
    
  }  
  .inner_footer{
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    height: 100%; 
    display: flex;
    justify-content: center;
  }

  .inner_footer .logo_container {
    width: 40%;
    float: left;
    height: 100%;
    display: block;
  }

  .inner_footer .logo_container img {
    width: 75px;
    height: auto;
  }
  .inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
  }
  .inner_footer .footer_third:last-child {
    margin-right: 0;
  }
  .inner_footer .footer_third h3 {
    font-size: 22px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .inner_footer .footer_third a {
    font-size: 18px;
    display: block;
    width: 100%;
    padding-bottom: 5px;
  }
  .inner_footer .footer_third span {
    font-size: 16px;
  }
} 